@import 'globals';
@import 'mixins';


//backgrounds
$header-bg-color: #716f73;
$body-bg-color: #EFEFEF;
$alert-bg-color: #d90f0e;
$background-1: #fff;
$background-2: #ececec;
$background-3: #E8E8E8;
$fontLink: #802528;
$appColor: #c13f28;
//texts, lines
$white: #fff;
$black: black;
$gray-1: #999;
$gray-2: #333;
$gray-3: #dcdcdc;
$gray-4: #717073;
$gray-5: #5e5d60;
$gray-6: #555;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//links, graphs
$blue-1: #99caf9;
$blue-2: #2196f3;
$blue-3: #1976d2;
$blue-4: #0770e4;
$blue-5: #2055ae;
$purple-1: #3a4d6d;

//fonts
$font-1: "Georgia";
$font-2: "Arial";

//font sizes
$font-size-0: 10px;
$font-size-1: 11px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
$font-size-6: 22px;
$font-size-7: 28px;
$font-size-8: 54px;
$font-size-9: 13px;
$font-size-10: 21px;
$font-size-11: 20px;
$font-size-12: 17px;

body.paulweiss{
    
    /* TYPOGRAPHY (in the order of the "Style Tile" page)
    ***********************************/
    @font-face {
        font-family: $font-2;
    }
    
    font-family: $font-2;
    font-size: $font-size-4;
    line-height: 21px;
    color: $gray-4; 
    background-color: $body-bg-color;
    
    h1, h2, h3, h4, h5, h6 {
        font-family: Georgia;
    }
    
    .heading-text,
    .d3-card.main-card h5,
    .d3-tabs .tab-content h5{
                font-family: $font-1;
                font-weight: $font-weight-light;
                font-size: $font-size-5;
                letter-spacing: 2px;
                color: $gray-2;
                margin-top:0;
    }
    
    .view-all-text, .more-text,
    .read-more-small-button,
    .d3-card .bottom .more{
        font-family: $font-1;
        font-weight: $font-weight-bold;
        font-size: $font-size-3;
        color: $blue-3; 
    }

    .heading-link-text, .date-text,
    .carousel-content .date{
        font-family: $font-2;
        font-size: $font-size-2;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    
    .mobile-heading-link-text{
        font-family: $font-1;
        font-weight: $font-weight-bold;
        font-size: $font-size-5;
        color: $blue-2;
    }

    .unselected-text, .search-box-text{
        font-family: $font-1;
        font-size: $font-size-5;
        letter-spacing: 2px;
        color: $gray-1; 
    }
    
    .new-hire-name-text{
        font-family: $font-1;
        font-size: $font-size-3;
        color: $gray-2;
    }

    .page-heading-text,
    .d3-main h1{
        font-family: $font-1;
        font-size: $font-size-8;
        color: $gray-2;   
        margin: 0 0 25px 0;
        border-bottom: 1px solid #dcdcdc; 
        padding-bottom: 20px; 
    }

    .title-text,
    .news-header{
        font-family: $font-1;
        font-size: $font-size-7;
        color: $red-2;
        margin-top: 5px;
    }

    .bio-position-text{
        font-family: $font-1;
        font-weight: $font-weight-bold;
        font-size: $font-size-6;
        color: $gray-2;
    }

    .footer-copyright-text{
        font-family: $font-1;
        font-size: $font-size-4;
        letter-spacing: 1px;
        color: $white; 
        background-color: $black;
    }

    .footer-copyright-text-mobile{
        font-family: $font-1;
        font-size: $font-size-5;
        color: $white;
        background-color: $black;
    }

    .body-text {
        /* the first style on top */
    }

    .navigation-text, .advanced-search-text,
    .d3-navbar .search-box input[type="text"]
    {
        font-family: $font-2;
        font-size: $font-size-4;
        color: $gray-2; 
        border: 0;
    }
    
    .hi-user-text, .advanced-search-text {
        font-family: $font-2;
        font-size: $font-size-1;
        color: $gray-2; 
    }
    
    .graph-text, .higher-navigation-text {
        font-family: $font-2;
        font-size: $font-size-3;
        color: $gray-1;   
    }

    .higher-navigation-current-page-text{
        font-family: $font-2;
        font-size: $font-size-3;
        color: $purple-1; 
    }
    
    .bio-current-workplace-text{
        font-family: $font-2;
        font-weight: $font-weight-light;
        font-size: $font-size-4;
        color: $gray-2;
    }

    .subcategory, mobile-contact{
        font-family: $font-2;
        font-size: $font-size-2;
        color: $gray-1; 
    }

    .activity-date-text, engaged-industry-text {
        font-family: $font-1;
        font-size: $font-size-3;
        font-weight: $font-weight-semibold;
        color: $gray-2; 
    }
    
    /***********************************/ 
    /* ELEMENTS / SECTIONS
    /***********************************/
    
    
    /* ALERT
    ***********************************/  
    .d3-alert{
        background-color: $alert-bg-color;
        font-family: $font-1;
        font-size: $font-size-4;
        
        .btn{
            font-family: $font-2;
            font-weight: $font-weight-semibold;
            font-size: $font-size-2;
        }
    }

    /* HEADER
    ***********************************/
    
    .d3-navbar{
        background-color: $header-bg-color;
        border: none;
        
        .today{
            color: $body-bg-color;
            font-size: 12px;
            min-height: 12px;
            margin-bottom: 12px;
            
            .d3-weather-header{
                font-size: 12px;
                color: $body-bg-color;
                
                p{
                    display: inline;
                }
                i{
                    font-size: 20px;
                }
            }
            
            #currenttime{
                margin-right: 8px;
                padding-right: 10px;
                border-right: 1px solid black;
            }
        }
        
        .logo{
            padding-top: 3px; 
            height: 31px; 
        }
        
        .search-box{ 
            height:40px;
            
            &.active{
                z-index: 999999;
                position: inherit;
                margin-right: 0;
                
                input[type='text']{
                    @include calc( width, '100% - 65px');
                    transition: 0.5s;
                    @include transition(all 0.4s ease);
                    background-color: $white;
                }
            }
            
            input[type='text']{
                border-color: $gray-1;
                background-color: $body-bg-color;
                height: 40px;
                width: 420px;
                position: absolute;
                right: 65px;
                transition: 0.5s;
                @include transition(all 0.4s ease);
                
                &:focus{
                    @include calc( width, '100% - 65px');
                    transition: 0.5s;
                    @include transition(all 0.4s ease);
                    background-color: $white;
                }
            }
            .mag-lense{
                background-color: $red-1;
                width: 40px;
                margin-top: 0;
                margin-right: 0;
                
                &:hover{
                    background-color: $red-1 !important;
                }
            }
        }
        .d3-navmenu-wrapper{
            background-color: $white;
        
            .d3-navmenu{
                border:none;
                
                .nav {
                    border:none;
                    display: inline-block;
                    
                    &>li{
                        border:none;
                        padding:10px 0 5px;
                        border-bottom:5px solid transparent;
                        min-width: 160px;
                        margin-bottom:1px;
                        height: 65px;
                        &.active{
                            border-bottom: 5px solid $red-1;
                            background-color: transparent;
                            font-weight: bold;
                        }
                        
                        &:hover{
                            border-bottom: 5px solid $red-1;
                        }
                        
                        &:first-child{
                            a:first-child{
                                border-left: 1px solid $body-bg-color;
                            }
                        }
                        
                        &:last-child{
                            color: $gray-2;
                        }

                        a{
                            color: $gray-2;
                            line-height: normal;  
                            border-right: 1px solid $body-bg-color;
                        }
                    }
                    .dropdown {
                        .dropdown-menu{
                            h5{
                                font-size:$font-size-6;
                            }

                            li{
                                em {color: $blue-3;}
                                a{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
                
                .current-user{
                    display: flex;
                    align-items: center;
                    height: 66px;
                    img{
                        height:45px;
                        margin-right: 10px;
                        @include transition(all 0.4s ease);
                    }
                    span{
                     
                    }
                    i {
                        padding-left:10px;
                    }
                }
            }
        }
        
        &.shrink{
            .d3-navmenu{
                .nav{
                    &>li{
                         padding:5px 0 5px;   
                    }
                }
                
                .current-user{
                    img{
                        height: 40px;
                        @include transition(all 0.4s ease);
                    }
                }
            }   
        }
    }
    
    
    /* BREADCRUMB
    ***********************************/ 
    .breadcrumb{
        padding:0;
        margin-bottom: 0;
        font-family: $font-1;
        
        li{ 
            &:last-child{
                a{
                    font-weight: 600;
                    color: $black;
                }
            }
            
            a {
                color: $gray-5;
                font-size: $font-size-3;
            }
        }
        &>li+li:before{
            content: ">";
            padding-left:5px;
            padding-right:5px;
        }
    }
    
    
    /* CARDS
    ***********************************/
    
    .side-card-container{
        background-color: $background-3;
        //margin-left:-10px;
        padding: 0 15px 0 15px;
    }
    
    .d3-card { 
        line-height: normal;
        padding: 24px;
        
        &.main-card {
            border: none;
             
            h5 {
                font-family: $font-1;
                font-size: $font-size-5;
                letter-spacing: 0;
                color: $gray-2;
                margin-top:0;
                margin-bottom: 15px;
                text-transform: uppercase;
                
                small{
                    font-size:$font-size-1;
                }
            }
            
            .left{
                border-right: 1px solid $gray-3;

                .left-content{
                    padding-right:20px;
                }
            }
            .right{
                .right-content{
                    padding-left:20px;
                }
            }
        }
        
        &.resource-card {
            margin-bottom: 0px;
            margin-top: 0px;
            padding-bottom:0px;
            li {
                list-style: disc;
                color:#802528;
            }
            a {
                font-family: $font-1;
                  color: $fontLink;
            }
        }
        
        &.service-directory-card {
          
            min-height: 500px;
            a {
                 font-family: $font-1;
                padding:0px;
                color:#802528;
                
            }
            .faq-click {
                font-family: $font-1;
                font-size: $font-size-5;
                color: $black;
            }
            .d3-tip-list {
                list-style:none;
	            padding-left: 0;

            }
            .d3-tip-list li:before {
                color:#696969;
                font-size: 20px;
            }
            .fa-caret-down {
              color: #555555;
              padding: 5px 5px 5px 0;
            }
            .fa-caret-right {
              color: #555555;
              padding: 5px 5px 5px 0; 
            }

             .fa-envelope:before {
                    color:#555555;
                 padding:5px 5px 5px 0;
                 margin-right: 0px;
                }
              .fa-phone:before {
                    color:#555555;
                 padding:5px;
                }
            .service-text {
                border-bottom:none;
                 padding-left: 24px;
            }
            .service-text-last {
               border-bottom:1px solid #d8d9da;
               margin-bottom: 20px;
                padding-bottom: 20px;
                padding-left: 24px; }
            .resource-list {
                padding-left:5px;
	            padding-top:8px; 
            }
          
            .resource-list{
                padding-left:5px;
	            padding-top:8px;
                }
            .resource-list li{
                  list-style: disc;
                 font-family: $font-1;
                color:#717073;
                font-size: $font-size-3;
                line-height: 20px;
            }
            .resource-list li:before {
                content:none;
            }
        }
        
        &.side-card {
            //margin-bottom: 15px;
            background-color: $background-3;
            color: $gray-2;
            margin-bottom: 0px;
            padding: 30px 0;
            border-bottom:1px solid $gray-3;
            
            h5{
                line-height: 18px;
                font-size: $font-size-4;
            }
            
            .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
                color: $gray-2;
            }
            
            .d3-sharepoint-user-icon{
                margin:0 10px 0 0;
            }
        }
        
        .bottom{
            display: none;
        }
    }
    
    /* COMPONENTS
    ***********************************/
    
    //main: carousel
    .carousel {
        .carousel-inner{
            img{
                padding:20px 10px 20px 20px;
            }
            .carousel-content {
                .sub-news-header{
                    font-family: $font-1;
                }
            }
        }
    }
    
    //side: new hires
    .d3-new-hires-tab{
        em{
            color: $red-1;
        }
        li{
            &.active{
                a{
                    background-color: $red-1;
                }
            }
        }
    }
    
    //main: calendar
    .d3-calendar{ 
        .calendar-list {
            
            li{
                &:last-child{
                    .calendar-list-item{
                        margin-bottom: 0;
                    }
                }
            }
            .calendar-date-outer {
                height:41px;
                width:41px;
                font-size: 10px;
            }
            .calendar-list-item{
                height:50px;
                margin-bottom: 20px;
                
                .calendar-date-inner{
                    background-color: #716f73;
                    padding: 0;
                    color: $white;
                    height: 20px;
                    font-size:10px;
                    &:hover{
                        background-color: #c13f28;
                    }
                }
            }
        }
    }
    
    //main: office-tabs
    .office-tabs{ 
        li{ 
            border-bottom-color: $gray-1;
            
            &.active{
                a{
                    background-color: transparent;
                    border: 1px solid $gray-1;
                    border-bottom: none;
                }
            }
            a{
                border: 1px solid transparent;
            }
        }
    }
    
    //side: apps
    .d3-tools{
        min-height: 0;
        
        .fa-search{
            position: absolute;
            left: 23px;
            top: 16px;
        }
        input{
            width: 100%;
            margin: 10px 0 15px;
            border: none;
            height: 28px;
            padding-left: 35px;
            font-size: $font-size-3;
        }
        .tool{
            border-radius: 0;
            background-color: $gray-3;
            line-height: 12px;
            height:65px; 
            color:$gray-4;
            padding:2px;
            font-size: $font-size-1;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            
            img{
                height:15px;
                margin-bottom: 5px;
            }
            
            &:hover{
                background-color: $red-1;
                color:white;
            }
        }
        
        .tab-pane{
            .row{
                .col-xs-6{
                    &:nth-child(odd){
                        .tool{
                            //margin: 0 -10px 10px 0;
                            margin: 0 0 15px 0;
                        }
                    }

                    &:nth-child(even){
                        .tool{
                            //margin: 0 0 10px -10px;
                            margin: 0 0 15px 0;
                        }
                    }
                }
            }
        }
    }
    
    //side: hire-apps
    .d3-hire-tabs{
        padding-top:20px;
        margin-left: 0;
        transform: none;
        display: flex;
        width: 100%;
        justify-content: center;
        
        &>li{
            height:12px;
            width:12px;
            padding: 0;
            justify-content: center;
            margin: auto 5px;
            
            &>a, &a:focus, &a:hover{
                 background: $gray-1;
                cursor: pointer;
            }
        }
    }
    
    //side: spotlight
    .side-spotlight{
        font-size: $font-size-4;
        font-family: $font-1;
        
        .title{
            color:$red-2;
        }
    }
    
    //main: todays activities
    .todays-activities{
        padding-bottom:0;
        
        &>ul{
            margin-top:15px;
            height:300px;
            overflow-y: scroll;
            list-style: none;
            padding-left: 0;
            padding-right: 30px;
            &>li{
                &>div{
                    font-size: $font-size-3;
                    text-transform: uppercase;
                }
                
                ul{
                    list-style: none;
                    padding-left: 0;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $gray-1;
                    margin-bottom: 20px;
                    li{
                        h4{
                            color: $red-2;
                            font-size: $font-size-12;
                            margin-bottom: 5px;
                            
                            small{
                                font-size: $font-size-3;
                                color: $gray-6;
                                font-family: $font-2;
                                display: block;
                                margin-top: 5px;
                            }
                        }
                        p{
                            font-family: $font-1;
                        }
                    }
                }
            }
        }
    }
    
    //main: bullet list
    .d3-general-list{
        padding-left:25px;
    }
    
    //side: recent arrivals
    .recent-arrivals,.key-contacts{
        h5{
            margin-bottom: 20px;
        }
        .person{
            margin-bottom: 20px;
            
            img{
                margin-right:10px;
            }
            .name{
                color: $red-2;
                font-family: $font-1;
            }
            .meta{
                font-size: $font-size-3;
            }
        }
    }
    
    //main: office-info
    .office-info{
        .info{
            width:60%;
            padding-right: 20px;
            font-family: $font-1;
            
            p{
                font-size: $font-size-11;
                line-height: 1.3;
                margin-bottom: 24px;
            }
            
            div{
                margin-bottom: 8px;
            }
        }
        
        img{
            width:40%;
        }
    }
    
    //main: visiting office, local information
    .visiting-office, .local-information{
        ul{
            list-style: none;
            padding-left: 0;
            
            a{
                color: $red-2;
                font-family: $font-1;
                display: inline-block;
                margin-bottom: 7px;
            }
        }
    }
    
    //side: security updates
    .security-updates{
        h5{
            margin-bottom: 20px;
        }
        .update{
            h4{
                font-family: $font-2;
                font-size: $font-size-2;
                margin-bottom: 0;
            }
            p{
                font-size:$font-size-4;
                font-family: $font-1;
                color: $red-2;
            }
        }
    }
    
    //main: announcements, exchange
    .announcements, .community-exchange{
        .left, .right{ 
            &>h6{
                margin-bottom: 20px;
                margin-top: 20px;
                font-family: $font-2;
            }
        }
        ul{
            padding-left: 0;
            list-style: none;
            
            li{
                margin-bottom: 20px;
                h6{
                    color: $red-2;
                    font-size: $font-size-5;
                    margin-bottom: 5px;
                }
                &>div{
                    font-size: $font-size-2;
                    color: $gray-1;
                    text-transform: uppercase;
                }
                p{
                    font-family: $font-1;
                    color: $gray-4;
                }
            }        
        }
    }
    .community-exchange{
        .mart{
            li{
                margin-bottom: 20px;
                h6{
                    margin-top:0;
                }
                img{
                    margin-right:10px;
                }
                p{
                    font-size: $font-size-4;
                }
            }
        }
    }
    
    //main: events
    .events{
        ul{
            padding-left:0;
            
            li{
                .calendar-list-text{
                    color: $red-2;
                    max-height: 45px;
                    overflow: hidden;
                    font-family: $font-1;
                }
            }
        }
    }
    
    //main: office cards
    .office-card{
        h3{
            margin:0 0 16px;
            line-height: normal;
            font-size: $font-size-6;
            color: $black;
        }
        .read-more-small-button{
            margin-top: 3px;
        }
        
        .location{
            min-height: 210px;
            margin-bottom: 20px;
            padding-bottom: 40px;
            border-bottom: 1px solid $gray-3;
            h4{
                color: $red-2;
                font-size: $font-size-4;
                margin: 16px 0 0;
            }
            div{
                font-family: $font-1;
                line-height: $font-size-6;
            }
        }
        
        .d3-clock-container{
            padding: 0;
            .d3-office-clock{
                color:transparent;
                margin-top: 15px;

                .d3-clock-item{
                    color: $black;
                    
                    .analog{
                        height:50px;
                        width: 50px;
                        margin-right: 10px;
                        
                        .min,.hour{
                            top: -15px;
                            left:24px;
                        }
                        
                    }
                }
            }
        }
        
        .person{
            margin-bottom: 10px;
            img{ 
                width: 35px;
                margin-right:5px;
            }
            
            .info{
                font-size: $font-size-2;
                color: $gray-1;
                
                a{
                    color: $red-2;
                    font-family: $font-1;
                    font-size: $font-size-4;
                }
            }
        }
    }
    
    //main: profile 
    .d3-profile-card{
        img{
            margin: 0 auto 27px;
        }
        
        .basicinfo{
            font-family: $font-1;
            font-size: $font-size-10;
            margin-bottom: 29px;
            color: $black;
        }
        
        fieldset{
            margin-bottom: 20px;
            
            legend{
                border-bottom: none;
                font-family: $font-2;
                font-size: $font-size-2;
                text-transform: uppercase;
                margin-bottom: 15px;
                color: $gray-1;
            }
            .field{
                margin-bottom: 8px;
                line-height: 19px;
                
                span{
                    font-family: $font-1;
                    display: inline-block;
                    vertical-align: top;
                    
                    &:first-child{
                        width: 40%;
                        color: $gray-1;
                    }
                    &:last-child{
                        width: 60%; 
                        color: $black;
                    }
                }
            }
        }
    }
    
    .main-card[class*="profile-"], 
    .main-card[class*="service-directory-card"],
    .main-card[class*="local-information"],
    .main-card[class*="visiting-office"],
    .main-card[class*="resource-card"],{
        h5{
            margin-bottom: 32px;
        }
    }
    
    
    .profile-bio{
        p{
            font-family: $font-1;
        }
        
    }
    
    //main: tables
    .table{
        thead{
            font-size: $font-size-2;
            
            th{
                &:first-child{
                    padding-left:0;
                }
                font-weight: normal;
                padding-bottom: 5px;
            }
        }
        
        tbody{
            font-family: $font-1;
            color: $black;
        }
    }
    
    //main: kendo components
    .k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited{
        background-color: $red-1;
        border-color: $red-1;
    }
    .k-calendar td.k-state-selected.k-state-hover{
        background-color: $red-1; 
        border-color: $red-1;
    }
    .k-button.k-state-active, .k-button:active{
        background-color: $red-1;
        border-color: $red-1;
    }
    .k-link{
        &.k-state-selected{
            background-color: $red-1;
            border-color: $red-1;
        }
    }
    
    /* TABS
    ***********************************/
    .d3-tabs {
        .nav-tabs{
            border: none;
            border-bottom: 1px solid $gray-1;

            li{
                background-color: $background-2;

                &.active{
                    background-color: transparent;
                    
                    a{
                        border:none;
                        border-top:2px solid $purple-1;
                        background-color: white;
                        color: $gray-2;
                        border-radius: 0;

                        &:hover{
                             background-color: $white;
                        }
                    }
                }
                
                a{
                    color: $gray-2;
                    margin: 0;
                    border-bottom: 1px solid $gray-1;
                }
            }
        }

        .tab-content{
            h5 {
            }
        }
    }
    
    /* UI-SEARCH
    ***********************************/
    .search-results{
        padding: 15px 20px;
        margin-top:-21px;
        width: 838px;
        
        a{
            color:$red-2;
        }
        
        .result{
            font-family: $font-1;
            padding:0;
            background-color: transparent;
            
            .title{
                font-size: $font-size-5;
                color: $black;
            }
            
            ul{
                color: $red-2;
                
                li{
                    margin-bottom: 5px;
                }
            }
            
            &.people-directory{
                padding-right:20px;
                
                img{
                    margin-right: 16px;
                }
                
                .name{
                    margin-bottom: 3px;
                }
                .metadata{
                    color: $gray-4;
                    font-family: $font-2;
                    font-size: $font-size-9;
                    line-height: 18px;
                }
            }
            
            &.select-a-search, &.recent-search{
                padding-left:20px;
                
                em{
                    color: $gray-2;
                    margin-right: 5px;
                    font-size: 13px;
                    background-color: transparent;
                }
            }
        }
        
        hr{
            border-top-color: $gray-3;
            width: 90%;
        }
        
        .right{
            border-left: 1px solid $gray-3;
        }
    }
    
    
    .search-button-1{
        //todo
        &:hover{
            //todo
        }
    }

    .search-button-2{
        //todo
        &:hover{
            //todo
        }
    }

    /* UI-NAVIGATION
    ***********************************/
    .navigation-button{
        //todo
        .selected{
            //todo
        }
    }

    /* UI-SLIDE
    ***********************************/
    .slide-navigation {
        //todo
    }

    /* UI-PLAY
    ***********************************/
    .play-button {
        //todo
    }

    /* UI-MENU
    ***********************************/
    .menu-button {
        //todo
    }

    /* UI-BUTTONS
    ***********************************/
    .read-more-button{
        background-color: $red-2;
        font-weight: 300;
        font-size: $font-size-9;
        padding: 7px 10px;
        
        &:hover{
            background-color: $red-1;
        }
    }

    .heading-button{
        //todo
        &:hover{
            //todo
        }
    }

    .number-button{
        //todo
        &:hover{
            //todo
        }
    }

    .view-all-button{
        //todo
    }

    .more-button{
        //todo
    }
    
    .read-more-small-button{
        color: $red-2;
        font-weight: 500;

        &:after{
            content: "\f101";
            font-family: "FontAwesome";
            margin-left: 5px;
            padding: 0;
            font-size: 11px;
            background-color: transparent;
            color: $red-2;
            line-height: 14px;
        }
    }

    /* UI-LIST
    ***********************************/
    .list-bullet {
        //todo
    }

    /* CLOCKS
    ***********************************/
    .clocks{
        margin-top:30px;
        background-color: $white;
        padding: 20px 0;
        .d3-clock-container{
            &>li{
                min-width: 125px;

                .d3-office-clock{
                    margin:0;
                }
            }
        }
        
        .classic-clock{
            font-family: $font-1;
            font-size: $font-size-2;
        }
        
        .d3-clock-item{
            margin-bottom: 20px;   
        }
    }
    
    /* FOOTER
    ***********************************/
    .footer{
        padding: 0;
        margin-top:0;
        background-color: $header-bg-color;
        height:80px;
        .copyright{
            text-align:center;
            font-size: $font-size-2;
            padding:10px;
            line-height: 30px;
        }
    }
    
    .feedback{
        text-align: center;
        margin-top: 10px;
        color: $gray-1;
        
        a{
            color: $gray-1;
            text-decoration: underline;
        }
    }
}
    
    /* MODAL
    **********************************/
    .modal {
      text-align: center;
      padding: 0!important;
    }

    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    } 

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
        
        .modal-content{
            border-radius: 1px;
            padding: 10px;
            
            .modal-header{
                border-bottom: none;
                
                h4{
                    color:black;
                    font-size: $font-size-4;
                }

                .close{
                    text-align: right;
                }
            }

            .modal-body{
                padding-top: 0;
                padding-bottom: 0;
                
                p{
                    margin: 10px 0 30px;
                    font-family: font-1;
                    color: $gray-1;    
                }
                div{
                    font-family: $font-2;
                    font-weight: 700;
                    font-size: $font-size-2;
                }
                input, textarea{
                    width: 100%;
                    background-color: $gray-3;
                    border:none;
                }
                input{
                    margin-bottom: 20px;
                    padding: 5px;
                }
                textarea{
                    height: 150px;
                    padding: 5px;
                }
            }

            .modal-footer{
                border-top: none;
                text-align:center;
                padding: 20px 0;

                .btn{
                    background-color: $red-1;
                    color: $white;
                    border: 0;
                    border-radius: 0;
                    padding: 5px 30px;
                }
            }
        
    }
}


/* SHAREPOINT OVERRIDES
**************************/
.ms-rtestate-field p, p.ms-rteElement-P{
    line-height: 21px;
}
