body.paulweiss {
  /* TYPOGRAPHY (in the order of the "Style Tile" page)
    ***********************************/
  font-family: "Arial";
  font-size: 16px;
  line-height: 21px;
  color: #717073;
  background-color: #EFEFEF;
  /***********************************/
  /* ELEMENTS / SECTIONS
    /***********************************/
  /* ALERT
    ***********************************/
  /* HEADER
    ***********************************/
  /* BREADCRUMB
    ***********************************/
  /* CARDS
    ***********************************/
  /* COMPONENTS
    ***********************************/
  /* TABS
    ***********************************/
  /* UI-SEARCH
    ***********************************/
  /* UI-NAVIGATION
    ***********************************/
  /* UI-SLIDE
    ***********************************/
  /* UI-PLAY
    ***********************************/
  /* UI-MENU
    ***********************************/
  /* UI-BUTTONS
    ***********************************/
  /* UI-LIST
    ***********************************/
  /* CLOCKS
    ***********************************/
  /* FOOTER
    ***********************************/ }

@font-face {
  body.paulweiss {
    font-family: "Arial"; } }
  body.paulweiss h1, body.paulweiss h2, body.paulweiss h3, body.paulweiss h4, body.paulweiss h5, body.paulweiss h6 {
    font-family: Georgia; }
  body.paulweiss .heading-text,
  body.paulweiss .d3-card.main-card h5,
  body.paulweiss .d3-tabs .tab-content h5 {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    color: #333;
    margin-top: 0; }
  body.paulweiss .view-all-text, body.paulweiss .more-text,
  body.paulweiss .read-more-small-button,
  body.paulweiss .d3-card .bottom .more {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 14px;
    color: #1976d2; }
  body.paulweiss .heading-link-text, body.paulweiss .date-text,
  body.paulweiss .carousel-content .date {
    font-family: "Arial";
    font-size: 12px;
    margin-bottom: 5px; }
  body.paulweiss .mobile-heading-link-text {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 18px;
    color: #2196f3; }
  body.paulweiss .unselected-text, body.paulweiss .search-box-text {
    font-family: "Georgia";
    font-size: 18px;
    letter-spacing: 2px;
    color: #999; }
  body.paulweiss .new-hire-name-text {
    font-family: "Georgia";
    font-size: 14px;
    color: #333; }
  body.paulweiss .page-heading-text,
  body.paulweiss .d3-main h1 {
    font-family: "Georgia";
    font-size: 54px;
    color: #333;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px; }
  body.paulweiss .title-text,
  body.paulweiss .news-header {
    font-family: "Georgia";
    font-size: 28px;
    color: #802528;
    margin-top: 5px; }
  body.paulweiss .bio-position-text {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 22px;
    color: #333; }
  body.paulweiss .footer-copyright-text {
    font-family: "Georgia";
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    background-color: black; }
  body.paulweiss .footer-copyright-text-mobile {
    font-family: "Georgia";
    font-size: 18px;
    color: #fff;
    background-color: black; }
  body.paulweiss .body-text {
    /* the first style on top */ }
  body.paulweiss .navigation-text, body.paulweiss .advanced-search-text,
  body.paulweiss .d3-navbar .search-box input[type="text"] {
    font-family: "Arial";
    font-size: 16px;
    color: #333;
    border: 0; }
  body.paulweiss .hi-user-text, body.paulweiss .advanced-search-text {
    font-family: "Arial";
    font-size: 11px;
    color: #333; }
  body.paulweiss .graph-text, body.paulweiss .higher-navigation-text {
    font-family: "Arial";
    font-size: 14px;
    color: #999; }
  body.paulweiss .higher-navigation-current-page-text {
    font-family: "Arial";
    font-size: 14px;
    color: #3a4d6d; }
  body.paulweiss .bio-current-workplace-text {
    font-family: "Arial";
    font-weight: 300;
    font-size: 16px;
    color: #333; }
  body.paulweiss .subcategory, body.paulweiss mobile-contact {
    font-family: "Arial";
    font-size: 12px;
    color: #999; }
  body.paulweiss .activity-date-text, body.paulweiss engaged-industry-text {
    font-family: "Georgia";
    font-size: 14px;
    font-weight: 600;
    color: #333; }
  body.paulweiss .d3-alert {
    background-color: #d90f0e;
    font-family: "Georgia";
    font-size: 16px; }
    body.paulweiss .d3-alert .btn {
      font-family: "Arial";
      font-weight: 600;
      font-size: 12px; }
  body.paulweiss .d3-navbar {
    background-color: #716f73;
    border: none; }
    body.paulweiss .d3-navbar .today {
      color: #EFEFEF;
      font-size: 12px;
      min-height: 12px;
      margin-bottom: 12px; }
      body.paulweiss .d3-navbar .today .d3-weather-header {
        font-size: 12px;
        color: #EFEFEF; }
        body.paulweiss .d3-navbar .today .d3-weather-header p {
          display: inline; }
        body.paulweiss .d3-navbar .today .d3-weather-header i {
          font-size: 20px; }
      body.paulweiss .d3-navbar .today #currenttime {
        margin-right: 8px;
        padding-right: 10px;
        border-right: 1px solid black; }
    body.paulweiss .d3-navbar .logo {
      padding-top: 3px;
      height: 31px; }
    body.paulweiss .d3-navbar .search-box {
      height: 40px; }
      body.paulweiss .d3-navbar .search-box.active {
        z-index: 999999;
        position: inherit;
        margin-right: 0; }
        body.paulweiss .d3-navbar .search-box.active input[type='text'] {
          width: -moz-calc(100% - 65px);
          width: -webkit-calc(100% - 65px);
          width: calc(100% - 65px);
          transition: 0.5s;
          -webkit-transition: all 0.4s ease;
          -khtml-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          background-color: #fff; }
      body.paulweiss .d3-navbar .search-box input[type='text'] {
        border-color: #999;
        background-color: #EFEFEF;
        height: 40px;
        width: 420px;
        position: absolute;
        right: 65px;
        transition: 0.5s;
        -webkit-transition: all 0.4s ease;
        -khtml-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        body.paulweiss .d3-navbar .search-box input[type='text']:focus {
          width: -moz-calc(100% - 65px);
          width: -webkit-calc(100% - 65px);
          width: calc(100% - 65px);
          transition: 0.5s;
          -webkit-transition: all 0.4s ease;
          -khtml-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          background-color: #fff; }
      body.paulweiss .d3-navbar .search-box .mag-lense {
        background-color: #c13f28;
        width: 40px;
        margin-top: 0;
        margin-right: 0; }
        body.paulweiss .d3-navbar .search-box .mag-lense:hover {
          background-color: #c13f28 !important; }
    body.paulweiss .d3-navbar .d3-navmenu-wrapper {
      background-color: #fff; }
      body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu {
        border: none; }
        body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav {
          border: none;
          display: inline-block; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li {
            border: none;
            padding: 10px 0 5px;
            border-bottom: 5px solid transparent;
            min-width: 160px;
            margin-bottom: 1px;
            height: 65px; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li.active {
              border-bottom: 5px solid #c13f28;
              background-color: transparent;
              font-weight: bold; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li:hover {
              border-bottom: 5px solid #c13f28; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li:first-child a:first-child {
              border-left: 1px solid #EFEFEF; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li:last-child {
              color: #333; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li a {
              color: #333;
              line-height: normal;
              border-right: 1px solid #EFEFEF; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav .dropdown .dropdown-menu h5 {
            font-size: 22px; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav .dropdown .dropdown-menu li em {
            color: #1976d2; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav .dropdown .dropdown-menu li a {
            border-bottom: none; }
        body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .current-user {
          display: flex;
          align-items: center;
          height: 66px; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .current-user img {
            height: 45px;
            margin-right: 10px;
            -webkit-transition: all 0.4s ease;
            -khtml-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .current-user i {
            padding-left: 10px; }
    body.paulweiss .d3-navbar.shrink .d3-navmenu .nav > li {
      padding: 5px 0 5px; }
    body.paulweiss .d3-navbar.shrink .d3-navmenu .current-user img {
      height: 40px;
      -webkit-transition: all 0.4s ease;
      -khtml-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  body.paulweiss .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    font-family: "Georgia"; }
    body.paulweiss .breadcrumb li:first-child a {
      color: #5e5d60; }
    body.paulweiss .breadcrumb > li + li:before {
      content: ">";
      padding-left: 5px;
      padding-right: 5px; }
    body.paulweiss .breadcrumb .active {
      font-weight: 600; }
  body.paulweiss .side-card-container {
    background-color: #E8E8E8;
    padding: 0 15px 0 15px; }
  body.paulweiss .d3-card {
    line-height: normal;
    padding: 24px; }
    body.paulweiss .d3-card.main-card {
      border: none; }
      body.paulweiss .d3-card.main-card h5 {
        font-family: "Georgia";
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0;
        color: #333;
        margin-top: 0;
        margin-bottom: 15px;
        text-transform: uppercase; }
        body.paulweiss .d3-card.main-card h5 small {
          font-size: 11px; }
      body.paulweiss .d3-card.main-card .left {
        border-right: 1px solid #dcdcdc; }
        body.paulweiss .d3-card.main-card .left .left-content {
          padding-right: 20px; }
      body.paulweiss .d3-card.main-card .right .right-content {
        padding-left: 20px; }
    body.paulweiss .d3-card.resource-card {
      margin-bottom: 0px;
      margin-top: 0px;
      padding-bottom: 0px; }
      body.paulweiss .d3-card.resource-card li {
        list-style: disc;
        color: #802528; }
      body.paulweiss .d3-card.resource-card a {
        font-family: "Georgia";
        color: #802528; }
    body.paulweiss .d3-card.service-directory-card {
      min-height: 500px; }
      body.paulweiss .d3-card.service-directory-card a {
        font-family: "Georgia";
        padding: 0px;
        color: #802528; }
      body.paulweiss .d3-card.service-directory-card .faq-click {
        font-family: "Georgia";
        font-size: 17px;
        color: black; }
      body.paulweiss .d3-card.service-directory-card .d3-tip-list {
        list-style: none;
        padding-left: 0; }
      body.paulweiss .d3-card.service-directory-card .d3-tip-list li:before {
        color: #696969;
        font-size: 20px; }
      body.paulweiss .d3-card.service-directory-card .fa-caret-down {
        color: #555555;
        padding: 5px 5px 5px 0; }
      body.paulweiss .d3-card.service-directory-card .fa-caret-right {
        color: #555555;
        padding: 5px 5px 5px 0; }
      body.paulweiss .d3-card.service-directory-card .fa-envelope:before {
        color: #555555;
        padding: 5px 5px 5px 0;
        margin-right: 0px; }
      body.paulweiss .d3-card.service-directory-card .fa-phone:before {
        color: #555555;
        padding: 5px; }
      body.paulweiss .d3-card.service-directory-card .service-text {
        border-bottom: none;
        padding-left: 24px; }
      body.paulweiss .d3-card.service-directory-card .service-text-last {
        border-bottom: 1px solid #d8d9da;
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-left: 24px; }
      body.paulweiss .d3-card.service-directory-card .resource-list {
        padding-left: 5px;
        padding-top: 8px; }
      body.paulweiss .d3-card.service-directory-card .resource-list {
        padding-left: 5px;
        padding-top: 8px; }
      body.paulweiss .d3-card.service-directory-card .resource-list li {
        list-style: disc;
        font-family: "Georgia";
        color: #717073;
        font-size: 14px;
        line-height: 20px; }
      body.paulweiss .d3-card.service-directory-card .resource-list li:before {
        content: none; }
    body.paulweiss .d3-card.side-card {
      background-color: #E8E8E8;
      color: #333;
      margin-bottom: 0px;
      padding: 30px 0;
      border-bottom: 1px solid #dcdcdc; }
      body.paulweiss .d3-card.side-card h5 {
        line-height: 18px;
        font-size: 16px; }
      body.paulweiss .d3-card.side-card .list-group-item.active, body.paulweiss .d3-card.side-card .list-group-item.active:focus, body.paulweiss .d3-card.side-card .list-group-item.active:hover {
        color: #333; }
      body.paulweiss .d3-card.side-card .d3-sharepoint-user-icon {
        margin: 0 10px 0 0; }
    body.paulweiss .d3-card .bottom {
      display: none; }
  body.paulweiss .carousel .carousel-inner img {
    padding: 20px 10px 20px 20px; }
  body.paulweiss .carousel .carousel-inner .carousel-content .sub-news-header {
    font-family: "Georgia"; }
  body.paulweiss .d3-new-hires-tab em {
    color: #c13f28; }
  body.paulweiss .d3-new-hires-tab li.active a {
    background-color: #c13f28; }
  body.paulweiss .d3-calendar .calendar-list li:last-child .calendar-list-item {
    margin-bottom: 0; }
  body.paulweiss .d3-calendar .calendar-list .calendar-date-outer {
    height: 41px;
    width: 41px;
    font-size: 10px; }
  body.paulweiss .d3-calendar .calendar-list .calendar-list-item {
    height: 50px;
    margin-bottom: 20px; }
    body.paulweiss .d3-calendar .calendar-list .calendar-list-item .calendar-date-inner {
      background-color: #716f73;
      padding: 0;
      color: #fff;
      height: 20px;
      font-size: 10px; }
      body.paulweiss .d3-calendar .calendar-list .calendar-list-item .calendar-date-inner:hover {
        background-color: #c13f28; }
  body.paulweiss .office-tabs li {
    border-bottom-color: #999; }
    body.paulweiss .office-tabs li.active a {
      background-color: transparent;
      border: 1px solid #999;
      border-bottom: none; }
    body.paulweiss .office-tabs li a {
      border: 1px solid transparent; }
  body.paulweiss .d3-tools {
    min-height: 0; }
    body.paulweiss .d3-tools .fa-search {
      position: absolute;
      left: 23px;
      top: 16px; }
    body.paulweiss .d3-tools input {
      width: 100%;
      margin: 10px 0 15px;
      border: none;
      height: 28px;
      padding-left: 35px;
      font-size: 14px; }
    body.paulweiss .d3-tools .tool {
      border-radius: 0;
      background-color: #dcdcdc;
      line-height: 12px;
      height: 65px;
      color: #717073;
      padding: 2px;
      font-size: 11px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column; }
      body.paulweiss .d3-tools .tool img {
        height: 15px;
        margin-bottom: 5px; }
      body.paulweiss .d3-tools .tool:hover {
        background-color: #c13f28;
        color: white; }
    body.paulweiss .d3-tools .tab-pane .row .col-xs-6:nth-child(odd) .tool {
      margin: 0 0 15px 0; }
    body.paulweiss .d3-tools .tab-pane .row .col-xs-6:nth-child(even) .tool {
      margin: 0 0 15px 0; }
  body.paulweiss .d3-hire-tabs {
    padding-top: 20px;
    margin-left: 0;
    transform: none;
    display: flex;
    width: 100%;
    justify-content: center; }
    body.paulweiss .d3-hire-tabs > li {
      height: 12px;
      width: 12px;
      padding: 0;
      justify-content: center;
      margin: auto 5px; }
      body.paulweiss .d3-hire-tabs > li > a, body.paulweiss .d3-hire-tabs > lia:focus, body.paulweiss .d3-hire-tabs > lia:hover {
        background: #999;
        cursor: pointer; }
  body.paulweiss .side-spotlight {
    font-size: 16px;
    font-family: "Georgia"; }
    body.paulweiss .side-spotlight .title {
      color: #802528; }
  body.paulweiss .todays-activities {
    padding-bottom: 0; }
    body.paulweiss .todays-activities > ul {
      margin-top: 15px;
      height: 300px;
      overflow-y: scroll;
      list-style: none;
      padding-left: 0;
      padding-right: 30px; }
      body.paulweiss .todays-activities > ul > li > div {
        font-size: 14px; }
      body.paulweiss .todays-activities > ul > li ul {
        list-style: none;
        padding-left: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #999;
        margin-bottom: 20px; }
        body.paulweiss .todays-activities > ul > li ul li h4 {
          color: #802528; }
          body.paulweiss .todays-activities > ul > li ul li h4 small {
            font-size: 12px;
            color: #333;
            font-family: "Arial";
            display: block; }
        body.paulweiss .todays-activities > ul > li ul li p {
          font-family: "Georgia"; }
  body.paulweiss .d3-general-list {
    padding-left: 25px; }
  body.paulweiss .recent-arrivals h5, body.paulweiss .key-contacts h5 {
    margin-bottom: 20px; }
  body.paulweiss .recent-arrivals .person, body.paulweiss .key-contacts .person {
    margin-bottom: 20px; }
    body.paulweiss .recent-arrivals .person img, body.paulweiss .key-contacts .person img {
      margin-right: 10px; }
    body.paulweiss .recent-arrivals .person .name, body.paulweiss .key-contacts .person .name {
      color: #802528;
      font-family: "Georgia"; }
    body.paulweiss .recent-arrivals .person .meta, body.paulweiss .key-contacts .person .meta {
      font-size: 14px; }
  body.paulweiss .office-info .info {
    width: 60%;
    padding-right: 20px;
    font-family: "Georgia"; }
    body.paulweiss .office-info .info p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px; }
    body.paulweiss .office-info .info div {
      margin-bottom: 7px; }
  body.paulweiss .office-info img {
    width: 40%; }
  body.paulweiss .visiting-office h5, body.paulweiss .local-information h5 {
    margin-bottom: 20px; }
  body.paulweiss .visiting-office ul, body.paulweiss .local-information ul {
    list-style: none;
    padding-left: 0; }
    body.paulweiss .visiting-office ul a, body.paulweiss .local-information ul a {
      color: #802528;
      font-family: "Georgia";
      display: inline-block;
      margin-bottom: 7px; }
  body.paulweiss .security-updates h5 {
    margin-bottom: 20px; }
  body.paulweiss .security-updates .update h4 {
    font-family: "Arial";
    font-size: 12px;
    margin-bottom: 0; }
  body.paulweiss .security-updates .update p {
    font-size: 16px;
    font-family: "Georgia";
    color: #802528; }
  body.paulweiss .announcements .left > h6, body.paulweiss .announcements .right > h6, body.paulweiss .community-exchange .left > h6, body.paulweiss .community-exchange .right > h6 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Arial"; }
  body.paulweiss .announcements ul, body.paulweiss .community-exchange ul {
    padding-left: 0;
    list-style: none; }
    body.paulweiss .announcements ul li, body.paulweiss .community-exchange ul li {
      margin-bottom: 20px; }
      body.paulweiss .announcements ul li h6, body.paulweiss .community-exchange ul li h6 {
        color: #802528;
        font-size: 18px;
        margin-bottom: 5px; }
      body.paulweiss .announcements ul li > div, body.paulweiss .community-exchange ul li > div {
        font-size: 12px;
        color: #999; }
      body.paulweiss .announcements ul li p, body.paulweiss .community-exchange ul li p {
        font-family: "Georgia";
        color: #717073; }
  body.paulweiss .community-exchange .mart li {
    margin-bottom: 20px; }
    body.paulweiss .community-exchange .mart li h6 {
      margin-top: 0; }
    body.paulweiss .community-exchange .mart li img {
      margin-right: 10px; }
    body.paulweiss .community-exchange .mart li p {
      font-size: 16px; }
  body.paulweiss .events ul {
    padding-left: 0; }
    body.paulweiss .events ul li .calendar-list-text {
      color: #802528;
      max-height: 45px;
      overflow: hidden;
      font-family: "Georgia"; }
  body.paulweiss .office-card h3 {
    margin: 0 0 10px;
    line-height: normal;
    font-size: 22px;
    font-weight: 600; }
  body.paulweiss .office-card .read-more-small-button {
    margin-top: 3px; }
  body.paulweiss .office-card .location {
    min-height: 210px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #dcdcdc; }
    body.paulweiss .office-card .location h4 {
      color: #802528;
      font-size: 16px;
      margin: 15px 0 0; }
    body.paulweiss .office-card .location div {
      font-family: "Georgia";
      line-height: 22px; }
  body.paulweiss .office-card .d3-clock-container {
    padding: 0; }
    body.paulweiss .office-card .d3-clock-container .d3-office-clock {
      color: transparent;
      margin-top: 15px; }
      body.paulweiss .office-card .d3-clock-container .d3-office-clock .d3-clock-item {
        color: black; }
        body.paulweiss .office-card .d3-clock-container .d3-office-clock .d3-clock-item .analog {
          height: 50px;
          width: 50px;
          margin-right: 10px; }
          body.paulweiss .office-card .d3-clock-container .d3-office-clock .d3-clock-item .analog .min, body.paulweiss .office-card .d3-clock-container .d3-office-clock .d3-clock-item .analog .hour {
            top: -15px;
            left: 24px; }
  body.paulweiss .office-card .person {
    margin-bottom: 10px; }
    body.paulweiss .office-card .person img {
      width: 35px;
      margin-right: 5px; }
    body.paulweiss .office-card .person .info {
      font-size: 12px;
      color: #999; }
      body.paulweiss .office-card .person .info a {
        color: #802528;
        font-family: "Georgia";
        font-size: 16px; }
  body.paulweiss .d3-profile-card img {
    margin: 0 auto 20px; }
  body.paulweiss .d3-profile-card .basicinfo {
    font-family: "Georgia";
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px; }
  body.paulweiss .d3-profile-card fieldset {
    margin-bottom: 20px; }
    body.paulweiss .d3-profile-card fieldset legend {
      border-bottom: none;
      font-family: "Arial";
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: #999; }
    body.paulweiss .d3-profile-card fieldset .field {
      margin-bottom: 7px; }
      body.paulweiss .d3-profile-card fieldset .field span {
        font-family: "Georgia";
        display: inline-block;
        vertical-align: top; }
        body.paulweiss .d3-profile-card fieldset .field span:first-child {
          width: 40%;
          color: #999; }
        body.paulweiss .d3-profile-card fieldset .field span:last-child {
          width: 60%;
          color: black; }
  body.paulweiss .profile-bio p {
    font-family: "Georgia"; }
  body.paulweiss .table thead {
    font-size: 12px; }
    body.paulweiss .table thead th {
      font-weight: normal;
      padding-bottom: 5px; }
      body.paulweiss .table thead th:first-child {
        padding-left: 0; }
  body.paulweiss .table tbody {
    font-family: "Georgia";
    color: black; }
  body.paulweiss .k-draghandle.k-state-selected:hover, body.paulweiss .k-ghost-splitbar-horizontal, body.paulweiss .k-ghost-splitbar-vertical, body.paulweiss .k-list > .k-state-highlight, body.paulweiss .k-list > .k-state-selected, body.paulweiss .k-marquee-color, body.paulweiss .k-panel > .k-state-selected, body.paulweiss .k-scheduler .k-scheduler-toolbar .k-state-selected, body.paulweiss .k-scheduler .k-today.k-state-selected, body.paulweiss .k-state-selected, body.paulweiss .k-state-selected:link, body.paulweiss .k-state-selected:visited {
    background-color: #c13f28;
    border-color: #c13f28; }
  body.paulweiss .k-calendar td.k-state-selected.k-state-hover {
    background-color: #c13f28;
    border-color: #c13f28; }
  body.paulweiss .k-button.k-state-active, body.paulweiss .k-button:active {
    background-color: #c13f28;
    border-color: #c13f28; }
  body.paulweiss .k-link.k-state-selected {
    background-color: #c13f28;
    border-color: #c13f28; }
  body.paulweiss .d3-tabs .nav-tabs {
    border: none;
    border-bottom: 1px solid #999; }
    body.paulweiss .d3-tabs .nav-tabs li {
      background-color: #ececec; }
      body.paulweiss .d3-tabs .nav-tabs li.active {
        background-color: transparent; }
        body.paulweiss .d3-tabs .nav-tabs li.active a {
          border: none;
          border-top: 2px solid #3a4d6d;
          background-color: white;
          color: #333;
          border-radius: 0; }
          body.paulweiss .d3-tabs .nav-tabs li.active a:hover {
            background-color: #fff; }
      body.paulweiss .d3-tabs .nav-tabs li a {
        color: #333;
        margin: 0;
        border-bottom: 1px solid #999; }
  body.paulweiss .search-results {
    padding: 15px 20px;
    margin-top: -21px;
    width: 838px; }
    body.paulweiss .search-results a {
      color: #802528; }
    body.paulweiss .search-results .result {
      font-family: "Georgia";
      padding: 0;
      background-color: transparent; }
      body.paulweiss .search-results .result .title {
        font-size: 18px;
        color: black; }
      body.paulweiss .search-results .result ul {
        color: #802528; }
        body.paulweiss .search-results .result ul li {
          margin-bottom: 5px; }
      body.paulweiss .search-results .result.people-directory {
        padding-right: 20px; }
        body.paulweiss .search-results .result.people-directory img {
          margin-right: 16px; }
        body.paulweiss .search-results .result.people-directory .name {
          margin-bottom: 3px; }
        body.paulweiss .search-results .result.people-directory .metadata {
          color: #717073;
          font-family: "Arial";
          font-size: 13px;
          line-height: 18px; }
      body.paulweiss .search-results .result.select-a-search, body.paulweiss .search-results .result.recent-search {
        padding-left: 20px; }
        body.paulweiss .search-results .result.select-a-search em, body.paulweiss .search-results .result.recent-search em {
          color: #333;
          margin-right: 5px;
          font-size: 13px;
          background-color: transparent; }
    body.paulweiss .search-results hr {
      border-top-color: #dcdcdc;
      width: 90%; }
    body.paulweiss .search-results .right {
      border-left: 1px solid #dcdcdc; }
  body.paulweiss .read-more-button {
    background-color: #802528;
    font-weight: 300;
    font-size: 13px;
    padding: 7px 10px; }
    body.paulweiss .read-more-button:hover {
      background-color: #c13f28; }
  body.paulweiss .read-more-small-button {
    color: #802528;
    font-weight: 500; }
    body.paulweiss .read-more-small-button:after {
      content: "\f101";
      font-family: "FontAwesome";
      margin-left: 5px;
      padding: 0;
      font-size: 11px;
      background-color: transparent;
      color: #802528;
      line-height: 14px; }
  body.paulweiss .clocks {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px 0; }
    body.paulweiss .clocks .d3-clock-container > li {
      min-width: 125px; }
      body.paulweiss .clocks .d3-clock-container > li .d3-office-clock {
        margin: 0; }
    body.paulweiss .clocks .classic-clock {
      font-family: "Georgia";
      font-size: 12px; }
    body.paulweiss .clocks .d3-clock-item {
      margin-bottom: 20px; }
  body.paulweiss .footer {
    padding: 0;
    margin-top: 0;
    background-color: #716f73;
    height: 80px; }
    body.paulweiss .footer .copyright {
      text-align: center;
      font-size: 12px;
      padding: 10px;
      line-height: 30px; }
  body.paulweiss .feedback {
    text-align: center;
    margin-top: 10px;
    color: #999; }
    body.paulweiss .feedback a {
      color: #999;
      text-decoration: underline; }

/* MODAL
    **********************************/
.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }
  .modal-dialog .modal-content {
    border-radius: 1px;
    padding: 10px; }
    .modal-dialog .modal-content .modal-header {
      border-bottom: none; }
      .modal-dialog .modal-content .modal-header h4 {
        color: black;
        font-size: 16px; }
      .modal-dialog .modal-content .modal-header .close {
        text-align: right; }
    .modal-dialog .modal-content .modal-body {
      padding-top: 0;
      padding-bottom: 0; }
      .modal-dialog .modal-content .modal-body p {
        margin: 10px 0 30px;
        font-family: font-1;
        color: #999; }
      .modal-dialog .modal-content .modal-body div {
        font-family: "Arial";
        font-weight: 700;
        font-size: 12px; }
      .modal-dialog .modal-content .modal-body input, .modal-dialog .modal-content .modal-body textarea {
        width: 100%;
        background-color: #dcdcdc;
        border: none; }
      .modal-dialog .modal-content .modal-body input {
        margin-bottom: 20px;
        padding: 5px; }
      .modal-dialog .modal-content .modal-body textarea {
        height: 150px;
        padding: 5px; }
    .modal-dialog .modal-content .modal-footer {
      border-top: none;
      text-align: center;
      padding: 20px 0; }
      .modal-dialog .modal-content .modal-footer .btn {
        background-color: #c13f28;
        color: #fff;
        border: 0;
        border-radius: 0;
        padding: 5px 30px; }

/*# sourceMappingURL=d3-theme-paulweiss.css.map */