body.paulweiss {
  /* TYPOGRAPHY (in the order of the "Style Tile" page)
    ***********************************/
  font-family: "Arial";
  font-size: 15px;
  color: #333;
  background-color: #EFEFEF;
  /***********************************/
  /* ELEMENTS / SECTIONS
    /***********************************/
  /* ALERT
    ***********************************/
  /* HEADER
    ***********************************/
  /* BREADCRUMB
    ***********************************/
  /* CARDS
    ***********************************/
  /* COMPONENTS
    ***********************************/
  /* TABS
    ***********************************/
  /* UI-SEARCH
    ***********************************/
  /* UI-NAVIGATION
    ***********************************/
  /* UI-SLIDE
    ***********************************/
  /* UI-PLAY
    ***********************************/
  /* UI-MENU
    ***********************************/
  /* UI-BUTTONS
    ***********************************/
  /* UI-LIST
    ***********************************/
  /* CLOCKS
    ***********************************/
  /* FOOTER
    ***********************************/ }

@font-face {
  body.paulweiss {
    font-family: "Arial"; } }
  body.paulweiss h1, body.paulweiss h2, body.paulweiss h3, body.paulweiss h4, body.paulweiss h5, body.paulweiss h6 {
    font-family: Georgia; }
  body.paulweiss .heading-text,
  body.paulweiss .d3-card.main-card h5,
  body.paulweiss .d3-tabs .tab-content h5 {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 2px;
    color: #333;
    margin-top: 0; }
  body.paulweiss .view-all-text, body.paulweiss .more-text,
  body.paulweiss .read-more-small-button,
  body.paulweiss .d3-card .bottom .more {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 14px;
    color: #1976d2; }
  body.paulweiss .heading-link-text, body.paulweiss .date-text,
  body.paulweiss .carousel-content .date {
    font-family: "Arial";
    font-size: 14px;
    margin-bottom: 5px; }
  body.paulweiss .mobile-heading-link-text {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 17px;
    color: #2196f3; }
  body.paulweiss .unselected-text, body.paulweiss .search-box-text {
    font-family: "Georgia";
    font-size: 17px;
    letter-spacing: 2px;
    color: #999; }
  body.paulweiss .new-hire-name-text {
    font-family: "Georgia";
    font-size: 14px;
    color: #333; }
  body.paulweiss .page-heading-text,
  body.paulweiss .d3-main h1 {
    font-family: "Georgia";
    font-size: 51px;
    color: #333;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px; }
  body.paulweiss .title-text,
  body.paulweiss .news-header {
    font-family: "Georgia";
    font-size: 32px;
    color: #802528;
    margin-top: 5px; }
  body.paulweiss .bio-position-text {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 21px;
    color: #333; }
  body.paulweiss .footer-copyright-text {
    font-family: "Georgia";
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    background-color: black; }
  body.paulweiss .footer-copyright-text-mobile {
    font-family: "Georgia";
    font-size: 17px;
    color: #fff;
    background-color: black; }
  body.paulweiss .body-text {
    /* the first style on top */ }
  body.paulweiss .navigation-text, body.paulweiss .advanced-search-text,
  body.paulweiss .d3-navbar .search-box input[type="text"] {
    font-family: "Arial";
    font-size: 14px;
    color: #333; }
  body.paulweiss .hi-user-text, body.paulweiss .advanced-search-text {
    font-family: "Arial";
    font-size: 11px;
    color: #333; }
  body.paulweiss .graph-text, body.paulweiss .higher-navigation-text {
    font-family: "Arial";
    font-size: 14px;
    color: #999; }
  body.paulweiss .higher-navigation-current-page-text {
    font-family: "Arial";
    font-size: 14px;
    color: #3a4d6d; }
  body.paulweiss .bio-current-workplace-text {
    font-family: "Arial";
    font-weight: 300;
    font-size: 15px;
    color: #333; }
  body.paulweiss .subcategory, body.paulweiss mobile-contact {
    font-family: "Arial";
    font-size: 12px;
    color: #999; }
  body.paulweiss .activity-date-text, body.paulweiss engaged-industry-text {
    font-family: "Georgia";
    font-size: 14px;
    font-weight: 600;
    color: #333; }
  body.paulweiss .d3-alert {
    background-color: #d90f0e;
    font-family: "Georgia";
    font-size: 15px; }
    body.paulweiss .d3-alert .btn {
      font-family: "Arial";
      font-weight: 600;
      font-size: 12px; }
  body.paulweiss .d3-navbar {
    background-color: #716f73;
    border: none; }
    body.paulweiss .d3-navbar .today {
      color: #EFEFEF;
      font-size: 12px;
      min-height: 12px;
      margin-bottom: 12px; }
      body.paulweiss .d3-navbar .today .d3-weather-header {
        font-size: 12px;
        color: #EFEFEF; }
        body.paulweiss .d3-navbar .today .d3-weather-header p {
          display: inline; }
      body.paulweiss .d3-navbar .today #currenttime {
        margin-right: 8px;
        padding-right: 10px;
        border-right: 1px solid #999; }
    body.paulweiss .d3-navbar .logo {
      padding-top: 3px; }
    body.paulweiss .d3-navbar .search-box {
      height: 40px; }
      body.paulweiss .d3-navbar .search-box input[type='text'] {
        border-color: #999;
        background-color: #EFEFEF;
        height: 40px;
        width: 420px;
        position: absolute;
        right: 15px;
        transition: 0.5s;
        -webkit-transition: all 0.4s ease;
        -khtml-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        body.paulweiss .d3-navbar .search-box input[type='text'].active {
          width: -moz-calc(100% - 29px);
          width: -webkit-calc(100% - 29px);
          width: calc(100% - 29px);
          transition: 0.5s;
          -webkit-transition: all 0.4s ease;
          -khtml-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease; }
      body.paulweiss .d3-navbar .search-box .mag-lense {
        background-color: #c13f28;
        width: 40px;
        margin-top: 0;
        margin-right: 0; }
        body.paulweiss .d3-navbar .search-box .mag-lense:hover {
          background-color: #c13f28 !important; }
    body.paulweiss .d3-navbar .d3-navmenu-wrapper {
      background-color: #fff; }
      body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu {
        border: none; }
        body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav {
          border: none;
          display: inline-block; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li {
            border: none;
            padding: 10px 0 5px;
            border-bottom: 5px solid transparent;
            min-width: 150px; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li.active {
              border-bottom: 5px solid #c13f28;
              background-color: transparent; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li:hover {
              border-bottom: 5px solid #c13f28; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li:first-child a:first-child {
              border-left: 1px solid #EFEFEF; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li:last-child {
              color: #333; }
            body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav > li a {
              color: #333;
              line-height: normal;
              border-right: 1px solid #EFEFEF; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav .dropdown .dropdown-menu h5 {
            font-size: 21px; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav .dropdown .dropdown-menu li em {
            color: #1976d2; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .nav .dropdown .dropdown-menu li a {
            border-bottom: none; }
        body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .current-user {
          display: flex;
          align-items: center;
          height: 66px; }
          body.paulweiss .d3-navbar .d3-navmenu-wrapper .d3-navmenu .current-user img {
            height: 45px;
            margin-right: 10px;
            -webkit-transition: all 0.4s ease;
            -khtml-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease; }
    body.paulweiss .d3-navbar.shrink .d3-navmenu .nav > li {
      padding: 5px 0 5px; }
    body.paulweiss .d3-navbar.shrink .d3-navmenu .current-user img {
      height: 40px;
      -webkit-transition: all 0.4s ease;
      -khtml-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  body.paulweiss .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    font-family: "Georgia"; }
  body.paulweiss .side-card-container {
    background-color: #E8E8E8; }
  body.paulweiss .d3-card.main-card {
    border: none; }
    body.paulweiss .d3-card.main-card h5 {
      font-family: "Georgia";
      font-weight: 700;
      font-size: 17px;
      letter-spacing: 2px;
      color: #333;
      margin-top: 0;
      margin-bottom: 20px;
      text-transform: uppercase; }
      body.paulweiss .d3-card.main-card h5 small {
        font-size: 11px; }
  body.paulweiss .d3-card.side-card {
    margin-bottom: 20px;
    background-color: #E8E8E8;
    color: #333;
    margin-bottom: 0px;
    padding: 30px 0;
    border-bottom: 1px solid #dcdcdc; }
    body.paulweiss .d3-card.side-card h5 {
      line-height: 18px; }
    body.paulweiss .d3-card.side-card .list-group-item.active, body.paulweiss .d3-card.side-card .list-group-item.active:focus, body.paulweiss .d3-card.side-card .list-group-item.active:hover {
      color: #333; }
    body.paulweiss .d3-card.side-card .d3-sharepoint-user-icon {
      margin: 0 10px 0 0; }
  body.paulweiss .d3-card .bottom {
    display: none; }
  body.paulweiss .d3-card .read-more-small-button {
    color: #802528; }
    body.paulweiss .d3-card .read-more-small-button:after {
      content: "\f101";
      font-family: "FontAwesome";
      margin-left: 5px;
      padding: 0;
      font-size: 11px;
      background-color: transparent;
      color: #802528;
      line-height: 14px; }
  body.paulweiss .carousel .carousel-inner .img {
    padding: 20px 0 20px 20px; }
  body.paulweiss .carousel .carousel-inner .carousel-content .sub-news-header {
    font-family: "Georgia"; }
  body.paulweiss .d3-new-hires-tab em {
    color: #802528; }
  body.paulweiss .d3-new-hires-tab li.active a {
    background-color: #c13f28; }
  body.paulweiss .d3-calendar .calendar-list .calendar-date-inner {
    background-color: #716f73;
    padding: 2px 5px;
    color: #fff; }
    body.paulweiss .d3-calendar .calendar-list .calendar-date-inner:hover {
      background-color: #99caf9; }
  body.paulweiss .office-tabs li {
    border-bottom-color: #999; }
    body.paulweiss .office-tabs li.active a {
      background-color: transparent;
      border: 1px solid #999;
      border-bottom: none; }
    body.paulweiss .office-tabs li a {
      border: 1px solid transparent; }
  body.paulweiss .d3-tools {
    min-height: 0; }
    body.paulweiss .d3-tools .fa-search {
      position: absolute;
      left: 23px;
      top: 16px; }
    body.paulweiss .d3-tools input {
      width: 100%;
      margin: 10px 0;
      border: none;
      height: 28px;
      padding-left: 30px;
      font-size: 12px; }
    body.paulweiss .d3-tools .tool {
      border-radius: 0;
      background-color: #dcdcdc;
      line-height: 15px;
      height: 65px;
      color: #999;
      padding: 0;
      font-size: 11px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column; }
      body.paulweiss .d3-tools .tool img {
        height: 15px;
        margin-bottom: 5px; }
      body.paulweiss .d3-tools .tool:hover {
        background-color: #c13f28;
        color: white; }
  body.paulweiss .d3-hire-tabs > li > a, body.paulweiss .d3-hire-tabs > lia:focus, body.paulweiss .d3-hire-tabs > lia:hover {
    background: #999; }
  body.paulweiss .side-spotlight {
    font-size: 15px;
    font-family: "Georgia"; }
    body.paulweiss .side-spotlight .title {
      color: #c13f28; }
  body.paulweiss .todays-activities {
    padding-bottom: 0; }
    body.paulweiss .todays-activities > ul {
      margin-top: 15px;
      height: 300px;
      overflow-y: scroll;
      list-style: none;
      padding-left: 0; }
      body.paulweiss .todays-activities > ul > li > div {
        font-size: 14px; }
      body.paulweiss .todays-activities > ul > li ul {
        list-style: none;
        padding-left: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #999;
        margin-bottom: 20px; }
        body.paulweiss .todays-activities > ul > li ul li h4 {
          color: #802528; }
          body.paulweiss .todays-activities > ul > li ul li h4 small {
            font-size: 12px;
            color: #333;
            font-family: "Arial";
            display: block; }
        body.paulweiss .todays-activities > ul > li ul li p {
          font-family: "Georgia"; }
  body.paulweiss .recent-arrivals h5, body.paulweiss .key-contacts h5 {
    margin-bottom: 20px; }
  body.paulweiss .recent-arrivals .person, body.paulweiss .key-contacts .person {
    margin-bottom: 15px; }
    body.paulweiss .recent-arrivals .person img, body.paulweiss .key-contacts .person img {
      margin-right: 10px; }
    body.paulweiss .recent-arrivals .person .name, body.paulweiss .key-contacts .person .name {
      color: #802528;
      font-family: "Georgia"; }
  body.paulweiss .office-info .info {
    width: 60%;
    padding-right: 20px;
    font-family: "Georgia"; }
  body.paulweiss .office-info img {
    width: 40%; }
  body.paulweiss .visiting-office h5, body.paulweiss .local-information h5 {
    margin-bottom: 20px; }
  body.paulweiss .visiting-office ul, body.paulweiss .local-information ul {
    list-style: none;
    padding-left: 0; }
    body.paulweiss .visiting-office ul a, body.paulweiss .local-information ul a {
      color: #802528;
      font-family: "Georgia";
      display: inline-block;
      margin-bottom: 5px; }
  body.paulweiss .security-updates h5 {
    margin-bottom: 20px; }
  body.paulweiss .security-updates .update h4 {
    font-family: "Arial";
    font-size: 12px;
    margin-bottom: 0; }
  body.paulweiss .security-updates .update p {
    font-size: 15px;
    font-family: "Georgia";
    color: #802528; }
  body.paulweiss .announcements > h6, body.paulweiss .community-exchange > h6 {
    margin-bottom: 20px;
    margin-top: 20px; }
  body.paulweiss .announcements ul, body.paulweiss .community-exchange ul {
    padding-left: 0;
    list-style: none; }
    body.paulweiss .announcements ul li h6, body.paulweiss .community-exchange ul li h6 {
      color: #802528;
      font-size: 17px;
      margin-bottom: 5px; }
    body.paulweiss .announcements ul li > div, body.paulweiss .community-exchange ul li > div {
      font-size: 12px; }
    body.paulweiss .announcements ul li p, body.paulweiss .community-exchange ul li p {
      font-family: "Georgia"; }
  body.paulweiss .community-exchange .mart li {
    margin-bottom: 20px; }
    body.paulweiss .community-exchange .mart li h6 {
      margin-top: 0; }
    body.paulweiss .community-exchange .mart li img {
      margin-right: 10px; }
    body.paulweiss .community-exchange .mart li p {
      font-size: 14px; }
  body.paulweiss .events ul {
    padding-left: 0; }
    body.paulweiss .events ul li .calendar-list-text {
      color: #802528;
      max-height: 45px;
      overflow: hidden;
      font-family: font-1; }
  body.paulweiss .k-draghandle.k-state-selected:hover, body.paulweiss .k-ghost-splitbar-horizontal, body.paulweiss .k-ghost-splitbar-vertical, body.paulweiss .k-list > .k-state-highlight, body.paulweiss .k-list > .k-state-selected, body.paulweiss .k-marquee-color, body.paulweiss .k-panel > .k-state-selected, body.paulweiss .k-scheduler .k-scheduler-toolbar .k-state-selected, body.paulweiss .k-scheduler .k-today.k-state-selected, body.paulweiss .k-state-selected, body.paulweiss .k-state-selected:link, body.paulweiss .k-state-selected:visited {
    background-color: #c13f28;
    border-color: #c13f28; }
  body.paulweiss .k-calendar td.k-state-selected.k-state-hover {
    background-color: #c13f28;
    border-color: #c13f28; }
  body.paulweiss .k-button.k-state-active, body.paulweiss .k-button:active {
    background-color: #c13f28;
    border-color: #c13f28; }
  body.paulweiss .k-link.k-state-selected {
    background-color: #c13f28;
    border-color: #c13f28; }
  body.paulweiss .d3-tabs .nav-tabs {
    border: none;
    border-bottom: 1px solid #999; }
    body.paulweiss .d3-tabs .nav-tabs li {
      background-color: #ececec; }
      body.paulweiss .d3-tabs .nav-tabs li.active {
        background-color: transparent; }
        body.paulweiss .d3-tabs .nav-tabs li.active a {
          border: none;
          border-top: 2px solid #3a4d6d;
          background-color: white;
          color: #333;
          border-radius: 0; }
          body.paulweiss .d3-tabs .nav-tabs li.active a:hover {
            background-color: #fff; }
      body.paulweiss .d3-tabs .nav-tabs li a {
        color: #333;
        margin: 0;
        border-bottom: 1px solid #999; }
  body.paulweiss .search-results .result {
    font-family: "Georgia"; }
    body.paulweiss .search-results .result .title .more {
      font-size: 12px; }
      body.paulweiss .search-results .result .title .more:after {
        content: " >>"; }
    body.paulweiss .search-results .result ul {
      color: #802528; }
      body.paulweiss .search-results .result ul li {
        margin-bottom: 5px; }
    body.paulweiss .search-results .result.people-directory .jobtitle, body.paulweiss .search-results .result.people-directory .phone {
      color: #333;
      font-family: "Arial";
      font-size: 12px; }
    body.paulweiss .search-results .result.clients .title, body.paulweiss .search-results .result.matters .title {
      margin-bottom: 10px; }
  body.paulweiss .read-more-button {
    background-color: #802528;
    font-weight: 300;
    font-size: 12px;
    padding: 7px 10px; }
    body.paulweiss .read-more-button:hover {
      background-color: #c13f28; }
  body.paulweiss .clocks {
    margin-top: 60px;
    background-color: #fff;
    padding: 20px 0; }
    body.paulweiss .clocks .d3-clock-container > li {
      min-width: 125px; }
      body.paulweiss .clocks .d3-clock-container > li .d3-office-clock {
        margin: 0; }
  body.paulweiss .footer {
    padding: 0;
    margin-top: 0;
    background-color: #716f73; }
    body.paulweiss .footer .copyright {
      text-align: center;
      font-size: 12px;
      padding: 30px;
      line-height: 30px; }
  body.paulweiss .feedback {
    text-align: center;
    margin-top: 40px;
    color: #999; }
    body.paulweiss .feedback a {
      color: #999;
      text-decoration: underline; }

/*# sourceMappingURL=d3-theme-paulweiss.css.map */